// Color Scheme

// First Color Scheme
$white: #FFF;
$dark-gray: #262626;
$gray: #696969;
$light-gray: #F7F7F7;

// Second Color Scheme
$esmerald: #006384;
$turquesa: #9CC5CE;
$green: #ADC4C8;
$gray-green: #89949e;
$light-gray-green: #D6E1E3;


///////////////// 
//Tipography

//Font Family
$source-sans: 'Source Sans Pro', sans-serif;

// Font Weight
$light-300: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

// Font Sizes
$xxxx-large: 2.75em;  //44
$xxx-large: 2.188em;  //35
$xx-large: 1.875em;  //30
$x-large-26: 1.75em;  //26
$x-large: 1.5em;     //24
$large-23: 1.438em;   //23
$large: 1.375em;     // 22
$met-21: 1.313em;      //21
$large-20: 1.25em;    //20
$large-cel: 1.188em; //19    18  1.125em
$header-cel: 1.063em; //17
$medium: 1em;       //16
$small: 0.938em;   //15
$small-b: 0.8;   //12.8
$x-small: 0.794em;  //12.7     12.6  0.788em

// Breackpoints
$min-xxs: 1px;
$min-xs: 375px;
$min-sm: 576px;
$min-md: 768px;
$min-lg: 992px;
$min-xl: 1200px;
$min-xxl: 1500px;
$min-xxxl: 1800px;

$max-xs: 575px;
$max-sm: 767px;
$max-md: 991px;
$max-lg: 1199px;
$max-xl: 1399px;
$max-xxl: 1900px;

$breakpoints: (
    'xxs' : (min-width: $min-xxs),
    'xs' : (min-width: $min-xs),
    'sm' : (min-width: $min-sm),
    'md' : (min-width: $min-md),
    'lg' : (min-width: $min-lg),
    'xl' : (min-width: $min-xl),
    'xxl': (min-width: $min-xxl),
    'xxxl': (min-width: $min-xxxl)

) !default;

//Navbar
$navbar-light-color: $dark-gray;
$navbar-light-active-color: $gray-green;
$navbar-light-hover-color: $green;

//Carousel
$carousel-control-color: $green;
$carousel-indicator-active-bg: $green;
$carousel-caption-color: $dark-gray;
