//Header
.carousel-texto-home {
  padding-bottom: 2.2rem;

  @include x-small {
    padding-right: 5em;
    padding-bottom: 2.8rem;
  }
  @include small {
    padding-right: 5.2em;
    padding-bottom: 3rem;
  }
  @include medium {
    padding-bottom: 5.5rem;
  }
  @include large {
    padding-bottom: 13rem;
  }
  @include x-large {
    padding-bottom: 13.6rem;
  }
  @include xx-large {
    padding-bottom: 15.5rem;
  }

  h2 {
    font-size: 1.125rem;    //18
    text-shadow: 1px 1px 17px #ffffff;
    
    @include x-small {
      font-size: $large;  
    }
    @include small {
      font-size: $x-large;  
    }
    @include medium {
      font-size: $xxx-large;  
    } 
  }

  p {
    padding-right: 1rem;
    font-size: $small-b;
    text-shadow: 1px 1px 17px #ffffff;
    @include x-small {
      font-size: $small-b;  
    }
    @include small {
      font-size: $small;  
    } 
    @include medium {
      font-size: $medium;  
    }
    @include x-large {
      font-size: $header-cel;  
    }
  }  
}

header .carousel-item img {
  min-height: 240px;
  object-fit: cover;
}

.header-img-2 , .header-img-4 {
  object-position: left;
}

//Nosotros
.section-about {
  margin-top: 3.5rem;
  margin-bottom: 3rem;
  color: $dark-gray;

  @include small {
    margin-top: 4.5rem;
    margin-bottom: 4.5rem;  
  }
  img {
  width: 80%;
  border-radius: 0 50px 0 50px;
  box-shadow: 6px 8px 50px rgba(0, 0, 0, 0.30);

  @include medium {
    width: 65%; 
  }
  @include large {
    width: 93%; 
  }
  @include x-large {
    width: 73%; 
  }
  }
  hr {
    background-color: $green;
    height: 0.092em;
    width: 52%;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
    margin-left: 0;
    
    @include x-small {
      width: 42%; 
    }
    @include small {
      width: 28%; 
    }
    @include medium {
      width: 20.5%; 
    }
    @include large {
      width: 30%;
      margin-bottom: 1.5rem;
    }
    @include x-large {
      width: 26%;
      margin-bottom: 2rem;
    }
  } 
  a {
    color: $esmerald;
    transition: all 0.6s ease;
    &:hover {
      text-decoration: none;
      color: $turquesa;
    }
  } 
  p {
    line-height: 25px;
  }
}

//Servicios
.article-servicios {
  background-color: $light-gray;
  h5 {
    padding: 0.6rem 1.2rem;
    background-color: rgba(0, 86, 115, 0.86);
    align-self: flex-end;
    margin-bottom: 0;
    width: 100%;
    @include large {
      padding: 0.6rem 1rem;
    }
    @include x-large {
      padding: 0.6rem 1.2rem;
    }
    
  }
  hr {
    background-color: $green;
    height: 0.092em;
    width: 54%;
    margin-top: 0.3rem;
    margin-bottom: 3rem;

    @include x-small {
      width: 43%; 
    }
    @include small {
      width: 27%; 
    }
    @include medium {
      width: 20%; 
    }
    @include large {
      width: 14.5%;
    }
    @include x-large {
      width: 12.5%;
    }
  }
  p {
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-size: $small-b;
    font-weight: $light-300;
    
  }
}
.article-services hr {
  width: 72%;

  @include x-small {
    width: 58%; 
  }
  @include small {
    width: 37%; 
  }
  @include medium {
    width: 27%; 
  }
  @include large {
    width: 20%;
  }
  @include x-large {
    width: 16.6%;
  }  
}

.servicio-1, .servicio-2, .servicio-3 {
  display: flex;
  display: -webkit-flex;
}



//¿Por qué nosotros?
.article-filter {
  background-color: rgba(0, 86, 115, 0.86);
  height: 100%;

  h2 {
    font-size: $xx-large;
    @include x-small {
      font-size: $xxx-large; 
    }
  }

  hr {
    background-color: $green;
    height: 0.092em;
    width: 75%;
    margin-top: 0.3rem;
    margin-bottom: 1.1rem;

    @include x-small {
      width: 71%; 
    }
    @include small {
      width: 48%; 
    }
    @include medium {
      width: 37%; 
      margin-bottom: 2rem;
    }
    @include large {
      width: 27%;
    }
    @include x-large {
      width: 20%;
    }
  }
  .article-container {
    padding-top: 2.5rem;
  }
  p {
    font-size: $medium;
    font-weight: $regular;
  }
}
.article-filter h4 {
  font-size: $large-23;
  @include medium {
    font-size: $x-large;
  }
}

.article-confidencialidad-img {
  width: 24%;

  @include x-small {
    width: 28%; 
  }
  @include medium {
    width: 32%; 
  }
  @include large {
    width: 30%; 
  }
}

.article-excelencia-img {
  width: 27%;

  @include x-small {
    width: 36%; 
  }
  @include medium {
    width: 40%; 
  }
  @include large {
    width: 38%; 
  }
}

.article-rapidez-img {
  width: 32%;

  @include x-small {
    width: 41%; 
  }
  @include medium {
    width: 45%; 
  }
  @include large {
    width: 43%; 
  }
}

.article-why-us-en hr {
  width: 32%;

  @include x-small {
    width: 32%; 
  }
  @include small {
    width: 20%; 
  }
  @include medium {
    width: 15%; 
  }
  @include large {
    width: 12%;
  }
  @include x-large {
    width: 8.5%;
    }
}

//Testimonios
.section-testimonios {
  padding-top: 3rem;
  padding-bottom: 3rem;

  h2 {
    font-size: $xx-large;
    @include x-small {
      font-size: $xxx-large; 
    }
  }
  hr {
    background-color: $green;
    height: 0.092em;
    width: 65%;
    margin-top: 0.3rem;
    margin-bottom: .1rem;
    margin-left: 0.4em;
    
    @include x-small {
      width: 65%; 
      margin-bottom: 1.5rem;
    }
    @include small {
      width: 95%;
      margin: 0 auto; 
    }
    @include medium {
      width: 70%; 
    }
    @include large {
      width: 52%;
    }
    @include x-large {
      width: 44%;
    }
  }
  p {
    line-height: 25px;
  }
}
.section-testimonials hr {
  
  @include large {
    width: 32%;
  }
  @include x-large {
    width: 27.5%;
  }
}
.carousel-testimonios {
  width: 95%;
  margin: 0 auto;
  padding-top: 0;

  @include small {
    width: 100%; 
    padding-top: 3.5rem;
  }
  @include medium {
    width: 85%; 
  }
  @include large {
    width: 70%;
    padding-top: 4rem;
  }
  @include x-large {
    width: 65%;
  }
}

.carousel-testimonios .carousel-item img {
 height: 65%;
  
  @include small {
    height: 25%; 
    padding-left: 3.5rem;
  }
  @include medium {
    height: 30%; 
  }
  @include large {
    height: 45%;
  }
}


.padre-comillas {
  display: flex;
  display: -webkit-flex;

  img {
    align-self: flex-end;
    -webkit-align-self: flex-end;

    @include small {
      align-self: flex-start;
      -webkit-justify-content: flex-start;
    }
  }
}


//Metodología de trabajo
.section-metodologia {
  background-color: $light-gray;
  padding-top: 3.5rem;
  padding-bottom: 4rem;

  hr {
    background-color: $green;
    height: 0.092em;
    width: 52%;
    margin-top: 0.3rem;
    margin-bottom: 2.5rem;
    margin-left: 0;

    @include x-small {
      width: 52%; 
    }
    @include small {
      width: 80%; 
    }
    @include medium {
      width: 69%; 
      margin-bottom: 4.5rem;
    }
    @include large {
      width: 51%;
    }
    @include x-large {
      width: 42.7%;
    }
  }

  .metodologia-foto {
    width: 90%;
    border-radius: 0 50px 0 50px;
    box-shadow: 6px 8px 50px rgba(0, 0, 0, 0.30);
  
    @include medium {
      width: 100%; 
    }
    @include large {
      width: 100%; 
    }
    @include x-large {
      width: 95%; 
    }
  }
}

.section-method hr {
  width: 57%;

  @include x-small {
    width: 82%; 
  }
  @include small {
    width: 52%; 
  }
  @include medium {
    width: 38%; 
  }
  @include large {
    width: 28%;
  }
  @include x-large {
    width: 23.7%;
  } 
}

.metodologia-sobre {
  width: 5.6rem;
  @include small {
    width: 4.8rem; 
  }
  @include medium {
    width: 5.2rem; 
  }
  @include medium {
    width: 5rem; 
  }
}
.metodologia-avion {
  width: 5.2rem;
  
  @include medium {
    width: 5.7rem; 
  }
}
.metodologia-doc {
  width: 6.4rem;
  @include small {
    width: 4.4rem; 
  }
  @include medium {
    width: 4.6rem; 
  }
}
.metodologia-money {
  width: 4.9rem;
  
  @include large {
    width: 4.8rem; 
  }
}

.metodologia-row-1 {
  padding-bottom: 2rem;
}

//Ubicación
.section-location  hr {
    background-color: $green;
    height: 0.092em;
    width: 58.5%;
    margin-top: 0.3rem;
    margin-bottom: 2.7rem;
    margin-left: 0;

    @include x-small {
      width: 57%;
      margin-bottom: 3.2rem; 
    }
    @include small {
      width: 40%; 
    }
    @include medium {
      width: 27%; 
      margin-bottom: 2.5rem;
    }
    @include large {
      width: 19.6%;
      margin-bottom: 2.8rem;
    }
    @include x-large {
      width: 16.7%;
    }
}

.section-location-en hr {
  width: 51%;

  @include x-small {
    width: 49%;
  }
  @include small {
    width: 32%; 
  }
  @include medium {
    width: 23%; 
  }
  @include large {
    width: 16.7%;
  }
  @include x-large {
    width: 14.5%;
  } 
}
.location-icono-map , .location-icono-phone {
  height: 1.8rem;
  @include medium {
    height: 2.2rem;
  }
}

.location-icono-sobre {
  height: 1.4rem;
  @include medium {
    height: 1.5rem;
  }
}
.section-location .img-location {
  width: 98%;
  @include x-small {
    padding-top: 0.9rem;
  }
  @include medium {
    width: 100%; 
    padding-top: 0;
  }
  @include large {
    width: 85%; 
  }
  @include x-large {
    width: 77%; 
  }
}

.section-location h4 {
  font-weight: $regular;
  font-size: $large-cel;    
  @include medium {
    font-size: $large;
  }
}

.section-location p {
  font-weight: $light-300;
}

.section-location .location-flex {
  display: flex;
  flex-wrap: nowrap;
}