
.servicios-pagina {
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include large {
    padding-top: 5rem;
  }
  h3 {
    font-size: $met-21;
    @include large {
      font-size: $x-large;  
    }
  }
  .servicio-11-p , .servicio-33-p{
    font-weight: $light-300;
    margin-bottom: 0;
    @include large {
      border-bottom: 1.5px solid $green;
      border-right: 1.5px solid $green;
    }
    @include x-large {
      padding-top: 0.5rem;
    }
  }
  img {
    height: 35%;
    align-self: center;
    @include small {
      height: 40%;  
    }
  }
}

.servicios-pagina .servicio-22-p {
  font-weight: $light-300;
    margin-bottom: 0;
    @include large {
      border-bottom: 1.5px solid $green;
      border-left: 1.5px solid $green;
    }
    @include x-large {
      padding-top: 0.5rem;
    }
}
.servicio-11, .servicio-22, .servicio-33 {
  display: flex;
  display: -webkit-flex;
}
.servicios-pagina .servicio-filter{
  display: flex;
  display: -webkit-flex;
  background-color: rgba(0, 86, 115, 0.75);
  height: 100%;
}

